@import '~antd/dist/antd.css';

.login-card-container {
    padding-top: 5rem;
}

.login-card {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 2rem 10rem;
    width: 100%;
}

.login-btn {
    margin-top: 2rem;
    width: 100px;
}

.todo-container {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}

.button-row {
    justify-content: center;
    margin-top: 1rem;
}

.list-container {
    margin-top: 2rem;
    justify-content: center;
}

.list {
    width: 500px;
    height: 400px;
    overflow-y: scroll;
}

.list-row {
    width: 100%;
}

.list-itemname {
    text-align: left;
}

.delete-item {
    color: rgb(216, 0, 0);
}

.checked-item {
    text-decoration: line-through;
}
